<div class="drawer-side">
  <label for="left-sidebar-drawer" class="drawer-overlay"></label>
  <ul class="menu pt-2 w-80 bg-base-100 text-base-content">
    <button class="btn btn-ghost bg-base-300 btn-circle z-50 top-0 right-0 mt-4 mr-2 absolute lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 inline-block w-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <li class="mb-2 font-semibold text-xl">
      <a href="/">Reddit Programa</a>
    </li>
    <li class="">
      <a href="/app/dashboard" class="font-semibold bg-base-200">
        Dashboard</a>
    </li>
    <li class="">
      <a aria-current="page" href="/usuarios"><i class="fa fa-users"></i>
        Usuarios</a>
    </li>
    <li class="">
      <a class="font-normal" href="/posts"> <i class="fa fa-images"></i>
        Posts</a>
    </li>
    <li class="">
      <a class="font-normal" href="/gallery"> <i class="fa fa-image"></i>
        Galeria</a>
    </li>
    <li class="">
      <a class="font-normal" href="/subreddit"> <i class="fa-brands fa-reddit"></i>
        Subreddits</a>
    </li>
  </ul>
</div>