<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pagina de Prueba</title>
    <link
      href="https://tailwind-dashboard-template-dashwind.vercel.app/static/css/main.7b9d8b9f.css"
      rel="stylesheet"
    />
  </head>

